html, body {
    height: 100%;
  }
  
  body {
    text-align: center;
  }
  
  .hero {
    /* background: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg") no-repeat center; */
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.75); */
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
  }

  .hero .page2{
    /* background: url("../sosohan_background1.jpg") no-repeat center; */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
  }

  .inner-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
  }
  @media only screen and (min-width: 320px) {
    .inner-text {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media only screen and (min-width: 400px) {
    .inner-text {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media only screen and (min-width: 680px) {
    .inner-text {
      font-size: 75px;
    }
  }
  @media only screen and (min-width: 950px) {
    .inner-text {
      font-size: 100px;
    }
  }
  
  .p1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
  }
  @media only screen and (max-width: 465px) {
    .p1 {
      display: block;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

/* 첫번째 랜딩 페이지  */
.inner-text{
  text-align: center;
  font-size: 40px;
}

/* 두번째 랜딩 페이지 */
.SecondLading{
  text-align: center;
}
.SecondLading img{
  margin-top: 225px;
  width: 700px;
  height: 500px;
}
.SecondText{
  font-size: 30px;
  margin-top: 50px;
}
.SecondLading button{
  margin-top: 50px;
}

/* 세번째 랜딩 페이지 */
.ThirdLanding{
  text-align: center;
}
.ThirdImg img{
  width: 500px;
  height: 450px;
}
.ThirdText{
  margin-left: 500px;
  font-size: 30px;
}
.ThirdLanding button{
  margin-top: 20px;
}

/* 네번째 랜딩 페이지 */
.FourthLand{
  margin-top: 200px;
  margin-left: 250px;
}
.FourthLand img{
  width: 30%;
  margin-left: 250px;
}
.FourthText{
  margin-left: 800px;
}
/* 다섯번째 랜딩 페이지 */
.FifthLand{
  text-align: center;
}
.FifthLand img{
  width: 1200px;
  height: 700px;
}







