@charset "utf-8";

/* 첫번째 메뉴 소소한팁 */
.MainMenu{
    text-align: center;
    margin-top: 50px;
}
.FirstMenu{
    width: 1300px;
    height: 300px;
    border: 1px solid rgb(192, 192, 192);
    position: relative;
    text-align: center;
    box-shadow:  0px 6px 6px 0px rgba(60, 60, 60, 0.5)
}
.FirstImg{
    width: 500px;
    height: 300px;
    position: absolute;
    align-items: center;
}
.FirstImg img{
    width: 100%;
    height: 100%;
    text-align: center;
}
.FirstDetail{
    width: 700px;
    height: 300px;
    position: absolute;
    margin-left: 40%;

}
.FirstText{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family:sans-serif;
}

.FirstHead{
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

/* -------------------------주거 정책  CSS 시작 -------------------------*/
.SecondHead{
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    /* background-color: rgb(226, 226, 221); */
}
.SecondHead img{
    width: 1280px;
    height: 150px;
}

.ThirdHead img{
  width: 1280px;
  height: 220px;
}


/*------------------------- 중간 배너 슬라이더 시작 -------------------------*/

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  .slide img{
    margin-top: 25px;
    text-align: center;
  }

  .content img{
    width: 400px;
    height: 200px;
  }

 
/*------------------------- 중간 배너 슬라이더 끝 -------------------------*/

/* -------------------------모달 CSS 시작 -------------------------*/

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  
  .modal-content {
    background-color: rgb(219, 231, 233);
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    width: 500px;
    height: 500px;
    border-radius: 40px;
  }
  
  .modal input{
    border-radius: 10px;
    text-align: center;
  }
  
  .modal button{
    border-radius: 10px;
    margin: 10px;
  }


/*-------------------- 모달 CSS 끝-------------------------*/


/* --------------------주거정책 CSS 시작-------------------------*/
.SecondMenu{
  text-align: center;
  margin-top: 100px;
}

/*h1은 설명을 위한 css이기 때문에 지우셔도 됩니다.
지우지 않을 경우 다른 h1코드 스타일과 충돌할 가능성이 있습니다*/
h1 {
font-size: 35px;
text-align: center;
padding: 4% 0px;
letter-spacing: 1px;
}

/*div변경과 관련된 코드입니다.
색 등의 디자인은 보이기 위해서 표시해놨으니
스타일 추가 및 변경이 가능합니다.*/
.main input[type=radio] {
display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3),
#tab-4:checked ~ .tab label:nth-child(4) {
background-color: rgba(0, 0, 0, 0.2);
box-shadow: none;
}
.content > div {
display: none;
}
#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3),
#tab-4:checked ~ .content div:nth-child(4)  {
display: block;
}
.main {
margin: 0 auto;
max-width: 100%;
}
.tab {
overflow: hidden;
}
.tab label {
  font-size: 18px;
  cursor: pointer;
  float: left;
  width: 25%;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid gray;
}
.content {
/* background-color: rgba(0, 0, 0, 0.2); */
min-height: 250px;
width: 100%;
}
.content > div{
 padding: 30px;
 line-height: 1.5;
 font-size: 17px;
}
.content-detail{
border: 2px solid #807a7a;
font-weight: lighter;
margin: 30px;
padding: 20px;
background-color: rgb(201, 211, 241, 0.3) ;
}
.content-img{
margin-top: 40px
}

.content-img img{
width: 30%;
float: left;
height: 500px;
}

.content-text{
width: 60%;
float: right;
height: 500px;
text-align: left;
line-height: 1.8;
font-weight: lighter;
font-size: 14px;
}

.content-text a {
border: 2px solid #807a7a;
}

.text{
font-size: 24px;
font-weight: bold;
}

.content-dis{
height: 800px;
}
/* -------------------주거정책 CSS 끝------------------- */


/* -----------------금융지원 CSS 시작------------------ */
/*div변경과 관련된 코드입니다.
색 등의 디자인은 보이기 위해서 표시해놨으니
스타일 추가 및 변경이 가능합니다.*/
.main2 input[type=radio] {
display: none;
}
#tab-5:checked ~ .tab2 label:nth-child(1),
#tab-6:checked ~ .tab2 label:nth-child(2),
#tab-7:checked ~ .tab2 label:nth-child(3),
#tab-8:checked ~ .tab2 label:nth-child(4) {
background-color: rgba(0, 0, 0, 0.2);
box-shadow: none;
}
.content2 > div {
display: none;
}
#tab-5:checked ~ .content2 div:nth-child(1),
#tab-6:checked ~ .content2 div:nth-child(2),
#tab-7:checked ~ .content2 div:nth-child(3),
#tab-8:checked ~ .content2 div:nth-child(4)  {
display: block;
}
.main2 {
margin: 0 auto;
max-width: 100%;
}
.tab2 {
overflow: hidden;
}
.tab2 label {
  font-size: 18px;
  cursor: pointer;
  float: left;
  width: 25%;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid gray;
}
.content2 {
/* background-color: rgba(0, 0, 0, 0.2); */
min-height: 250px;
width: 100%;
height: auto;
}
.content2 > div{
 padding: 30px;
 line-height: 1.5;
 font-size: 17px;
}
.content-detail{
border: 2px solid #807a7a;
font-weight: lighter;
margin: 30px;
padding: 20px;
background-color: rgb(201, 211, 241, 0.3) ;
}
.content-img{
margin-top: 40px
}

.content-img img{
width: 30%;
float: left;
height: 500px;
}

.content-text2{
height: auto;
text-align: left;
line-height: 1.8;
font-weight: lighter;
font-size: 14px;
}

.content-text a {
border: 2px solid #807a7a;
}


.text{
font-size: 24px;
font-weight: bold;
}

.content-dis{
height: 800px;
}

.content-text2{
width: 50%;
float: left;
}

.content-text3{
width: 50%;
float: right;
height: auto;
text-align: left;
line-height: 1.8;
font-weight: lighter;
font-size: 14px;
}
/* -----------------금융지원 CSS 끝 ------------------ */


/* -----------------주거서비스 CSS 시작 ------------------ */

/*div변경과 관련된 코드입니다.
색 등의 디자인은 보이기 위해서 표시해놨으니
스타일 추가 및 변경이 가능합니다.*/
.main3 input[type=radio] {
display: none;
}
#tab-9:checked ~ .tab label:nth-child(1),
#tab-10:checked ~ .tab label:nth-child(2),
#tab-11:checked ~ .tab label:nth-child(3),
#tab-12:checked ~ .tab label:nth-child(4) {
background-color: rgba(0, 0, 0, 0.2);
box-shadow: none;
}
.content > div {
display: none;
}
#tab-9:checked ~ .content div:nth-child(1),
#tab-10:checked ~ .content div:nth-child(2),
#tab-11:checked ~ .content div:nth-child(3),
#tab-12:checked ~ .content div:nth-child(4)  {
display: block;
}
.main {
margin: 0 auto;
max-width: 100%;
}
.tab {
overflow: hidden;
}
.tab label {
  font-size: 18px;
  cursor: pointer;
  float: left;
  width: 25%;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid gray;
}
.content {
/* background-color: rgba(0, 0, 0, 0.2); */
min-height: 250px;
width: 100%;
}
.content > div{
 padding: 30px;
 line-height: 1.5;
 font-size: 17px;
}
.content-detail{
border: 2px solid #807a7a;
font-weight: lighter;
margin: 30px;
padding: 20px;
background-color: rgb(201, 211, 241, 0.3) ;
}
.content-img{
margin-top: 40px
}

.content-img img{
width: 30%;
float: left;
height: 500px;
}

.content-text{
width: 60%;
float: right;
height: 500px;
text-align: left;
line-height: 1.8;
font-weight: lighter;
font-size: 14px;
}

.content-text a {
border: 2px solid #807a7a;
}

.text{
font-size: 24px;
font-weight: bold;
}

.content-dis{
height: 800px;
}
/* -----------------주거서비스 CSS 끝 ------------------ */
