@charset "utf-8";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.modal-content {
  background-color: rgb(219, 231, 233);
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  width: 500px;
  height: 500px;
  border-radius: 40px;
}

.modal input{
  border-radius: 10px;
}

.modal button{
  border-radius: 10px;
  margin: 10px;
}

